@import 'reset';
@import 'mixins';
@import 'highlight';

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 14px;
  height: 100%;
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;

  nav {
    ul {
      li {
        display: inline-block;

        a, span {
          color: #FFF;
          background: #31353f;
          padding: 10px;
          display: inline-block;
          line-height: 1.2;
          font-size: 10px;
          vertical-align: middle;
        }

        span {
          font-family: 'Andale Mono', Monaco, Consolas, monospace;
        }

        a:hover, a:focus {
          background: #242730;
        }
      }

      li:first-child * {
        border-radius: 0 0 0 6px;
      }

      li:last-child * {
        border-radius: 0 0 6px 0;
      }
    }
  }
}

.container {
  min-height: 100%;
  min-width: 100%;
  .flexbox;
}

#input {
  width: 50%;
  position: relative;
  background: #ECF0F1;
  .flex(1);

  textarea {
    font: 400 12px/1.5 'Andale Mono', Monaco, Consolas, monospace;
    background: transparent;
    resize: none;
    border: 0;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3em;
  }
}

#output {
  width: 50%;
  background: #FFF;

  article {
    font: 400 14px/1.6 'Merriweather', Helvetica, Arial, sans-serif;
    padding: 3em;
    margin: 0 auto;
    max-width: 35em;

    @import 'markdown';
  }
}

:focus {
  outline: none;
}